@import './base.css';

@font-face
{
	font-family: 'HelveticaNeueRegular';
	src: url('../assets/helvetica-neue-5/HelveticaNeue.eot');
	src: local('Helvetica Neue Bold'), local('HelveticaNeue'), url('../assets/helvetica-neue-5/HelveticaNeue.woff') format('woff'), url('../assets/helvetica-neue-5/HelveticaNeue.ttf') format('truetype');
}

@font-face
{
	font-family: 'HelveticaNeueCondensedBold';
	src: url('../assets/helvetica-neue-5/HelveticaNeue-CondensedBold.eot');
	src: local('HelveticaNeue-CondensedBold'), local('HelveticaNeue-CondensedBold'), url('../assets/helvetica-neue-5/HelveticaNeue-CondensedBold.woff') format('woff'), url('../assets/helvetica-neue-5/HelveticaNeue-CondensedBold.ttf') format('truetype');
}
body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'HelveticaNeue','HelveticaNeueRegular', Arial, sans-serif;
}
#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

@media(max-width: 768px) {
  body {
    display: flex;
    place-items: center;
  }
  #app {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
